<body id="body-pd">
  <header class="header" id="header">
    <div class="header_img">
      <span class="logo"></span>
    </div>
    <div class="header-text">
      Executive Dashboard
    </div>
    <div class="btn-list">
      <a class="head-link"><i class="bi bi-gear"></i></a>
      <a class="head-link"> <i class="bi bi-person"></i> </a>
    </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <div class="nav_list">
          <a class="nav_link"> <span class="nav_name"> <i class='bi bi-list' id="header-toggle"></i> </span></a>
          <a  class="nav_link active"> <i class="bi bi-house-door-fill"></i><span class="nav_name">Dashboard</span> </a>
          <a class="nav_link"><i class="bi bi-bag-dash-fill"></i><span class="nav_name">Utilities</span> </a>
           <a class="nav_link"> <i class="bi bi-calendar"></i><span class="nav_name">Events</span> </a>
        </div>
      </div>
    </nav>
  </div>
  <!--Container Main start-->
  <div>
<app-content></app-content>
  </div>
</body>